.Weather {
  padding: 16px;
  margin: 30px auto 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgb(221, 203, 207);
}
.Weather h1 {
  color: #d87070;
  font-size: 46px;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;
}
.Weather .description,
.properties {
  color: #caa08b;
}

.Weather .btn {
  background: #e5b59c;
  color: white;
  font-weight: 500;
}
.Weather .weatherIcon {
  height: 56px;
  margin: 22px 5px 0 0;
  float: left;
}
.Weather .temperature {
  position: relative;
  font-size: 64px;
  font-weight: 400;
  color: #d87070;
}
.Weather .unit {
  position: relative;
  top: -30px;
}
.Weather a {
  text-decoration: none;
}
.Weather .day {
  color: #caa08b;
}
