.Weather {
  padding: 16px;
  margin: 30px auto 5px;
  border: 1px solid rgb(240, 238, 236);
  border-radius: 10px;
}
.Weather h1 {
  color: #d87070;
  font-size: 46px;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;
}
.Weather .btn {
  background: #ffcab0;
  color: white;
  font-weight: 500;
}
.Weather canvas {
  height: 56px;
  float: left;
  margin: 22px 5px 0 0;
}
.Weather .temperature {
  position: relative;
  font-size: 64px;
  font-weight: 400;
  color: #d87070;
}
.Weather .unit {
  position: relative;
  top: -30px;
}
.Weather a {
  text-decoration: none;
}
